.searchCard {
    max-width: 100% !important;
    cursor: pointer;
}
.searchCard:hover {
    background-color: #319795;
    color: white;
}

.searchCard_inactice {
    background-color: white;
}

.searchCard_actice {
    background-color: gray;
}
