.root{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.container {
    flex-grow:8;
    max-width: 36rem;
}
.header{
  max-height: 48px;
  width:100vw;
  overflow: hidden;
  position: sticky;
  top: 0;
  flex-shrink: 0;
  flex-grow:1
}